
node_modules/
.env
dist/
build/
.vscode/


client/node_modules/
client/.env
client/dist/
client/build/


backend/node_modules/
backend/.env
backend/dist/
backend/build/


*.log


.DS_Store
Thumbs.db



